<div class="parent" >
  <div *ngFor="let item of books; let i = index">
    <mat-card class="child">
      <mat-card-header>
        <span class="small-font-size"><b>{{item.VolumeInfo.Title|slice :0:25}}</b></span>
      </mat-card-header>
      <img class="fit-image" mat-card-image [src]="item.VolumeInfo.ImageLinks.SmallThumbnail">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button (click)="Desfavoritar(item.Id)"><i class="fa fa-trash fa-lg" style="color:black"></i>Remover</button>
        <button mat-button> Saiba Mais</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
